In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from splinter import Browser
from selenium.webdriver.chrome.service import Service
import os
driver_path = r'C:\Users\lnorm\Downloads\chromedriver_win32 (2)\chromedriver.exe'
browser = Browser("chrome",service=Service(executable_path=driver_path))

import pandas as pd

In [2]:
# open website
url = 'https://www.spotrac.com/mlb/payroll/2022/'
browser.visit(url)

In [3]:
# create a BeutifulSoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# extract all rows of data
tables = soup.find('table', class_='datatable rtable captracker tablesorter tablesorter-default tablesorter6f41d7d5da217')
rows = tables.find_all('tr')
# showing the first 3 rows of data to confirm data was extracted
print(rows[:3])

[<tr class="tablesorter-headerRow" role="row">
<th aria-disabled="false" aria-label="Rank: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="0" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner">Rank</div></th>
<th aria-disabled="false" aria-label="Team: No sort applied, activate to apply a descending sort" aria-sort="none" class="player tablesorter-header tablesorter-headerUnSorted" data-column="1" id="team" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner">Team</div></th>
<th aria-disabled="false" aria-label="Win%: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="2" id="wins" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="Win %" title="">Win%</span></div></th>
<th aria-disabled="false" aria-label="Roster: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="3" id="players" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="Active Players" title="">Roster</span></div></th>
<th aria-disabled="false" aria-label="26-Man Payroll: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="4" id="active" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="The combined payroll salaries for the active 26-man roster" title="">26-Man Payroll</span></div></th>
<th aria-disabled="false" aria-label="Injured Reserve: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="5" id="ir" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="The combined payroll salaries of players currently on the IR" title="">Injured Reserve</span></div></th>
<th aria-disabled="false" aria-label="Retained: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="6" id="dead" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="The combined retained payroll salaries for players released, bought out, or traded" title="">Retained</span></div></th>
<th aria-disabled="false" aria-label="Buried: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="7" id="buried" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="The combined payroll salaries for any players buried in the minor leagues with major league contract earnings" title="">Buried</span></div></th>
<th aria-disabled="false" aria-label="Suspended: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="8" id="susp" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="info" data-original-title="The comnbined payroll salaries for any players currently on the Reserve/Suspended list" title="">Suspended</span></div></th>
<th aria-disabled="false" aria-label="2022 Total Payroll: No sort applied, activate to apply a descending sort" aria-sort="none" class="center tablesorter-header tablesorter-headerUnSorted" data-column="9" id="payroll" role="columnheader" scope="col" style="user-select: none;" tabindex="0" unselectable="on"><div class="tablesorter-header-inner"><span class="">2022 </span><span class="info" data-original-title="The combined payroll salaries for all players on the active, injured, or a reserve list" title="">Total Payroll</span></div></th>
</tr>, <tr role="row">
<td class="center">1</td>
<td class="player noborderleft">
<a href="https://www.spotrac.com/redirect/team/59/payroll-2022/">
<span class="xs-hide">Los Angeles Dodgers</span>
<span class="xs-visible">LAD</span>
</a>
<div style="float: right">
<i class="fa fa-star-o" style="font-size:10px;"></i>
</div>
</td>
<td class="center">0.685</td>
<td class="center">28</td>
<td class="center">$231,003,922</td>
<td class="center">$28,920,266</td>
<td class="center">$5,332,866</td>
<td class="center">$7,040,000</td>
<td class="center">$35,333,333</td>
<td class="result center">$270,381,426</td>
</tr>, <tr role="row">
<td class="center">2</td>
<td class="player noborderleft">
<a href="https://www.spotrac.com/redirect/team/48/payroll-2022/">
<span class="xs-hide">New York Mets</span>
<span class="xs-visible">NYM</span>
</a>
<div style="float: right">
<i class="fa fa-star-o" style="font-size:10px;"></i>
</div>
</td>
<td class="center">0.623</td>
<td class="center">31</td>
<td class="center">$231,062,889</td>
<td class="center">$4,155,954</td>
<td class="center">$28,130,999</td>
<td class="center">$14,468,000</td>
<td class="center"><span style="display:none">0</span>-</td>
<td class="result center">$268,292,506</td>
</tr>]

In [6]:
# create an empty list
table_list = []

# loop through the scraped data to create a list of rows

for row in rows:
    td = row.find_all('td')
    row = [row.text.strip() for row in td if row.text.strip()]
    if row:
        table_list.append(row)
        
salary_table = pd.DataFrame(table_list, columns=['Rank', 'Team', 'Wins%', 
                                               'Roster', '26-Man Payroll', 'Injured Reserve', 'Retained', 'Buried', 'Suspended', '2022 Total Payroll'])

In [7]:
salary_table

,Rank,Team,Wins%,Roster,26-Man Payroll,Injured Reserve,Retained,Buried,Suspended,2022 Total Payroll
0,1,Los Angeles Dodgers\nLAD,0.685,28,"$231,003,922","$28,920,266","$5,332,866","$7,040,000","$35,333,333","$270,381,426"
1,2,New York Mets\nNYM,0.623,31,"$231,062,889","$4,155,954","$28,130,999","$14,468,000",0-,"$268,292,506"
2,3,New York Yankees\nNYY,0.611,30,"$214,676,803","$25,203,665","$12,115,094","$9,307,500",0-,"$252,957,200"
3,4,Philadelphia Phillies\nPHI,0.537,28,"$191,757,795","$11,897,332","$30,945,214","$17,478,000",0-,"$244,484,097"
4,5,San Diego Padres\nSD,0.549,29,"$173,934,032","$10,925,000","$34,528,348","$6,304,700","$5,714,286","$224,511,694"
5,6,Boston Red Sox\nBOS,0.481,25,"$109,769,156","$50,192,677","$48,696,520","$27,500,000",0-,"$211,812,131"
6,7,Chicago White Sox\nCHW,0.500,27,"$154,697,729","$20,008,123","$25,306,501","$8,411,000",0-,"$203,205,326"
7,8,Houston Astros\nHOU,0.654,28,"$145,414,730","$21,550,000","$14,691,453","$7,031,800",0-,"$183,791,796"
8,9,Atlanta Braves\nATL,0.623,28,"$143,633,732","$24,418,726","$10,710,954","$11,610,000",0-,"$183,438,888"
9,10,Los Angeles Angels\nLAA,0.451,28,"$118,104,253","$6,978,028","$49,768,044","$17,590,000",0-,"$179,877,811"
10,11,Toronto Blue Jays\nTOR,0.568,29,"$141,674,814","$25,698,159","$7,955,708","$7,768,000",0-,"$177,071,670"
11,12,San Francisco Giants\nSF,0.500,28,"$43,246,200","$90,082,706","$19,651,602","$7,983,000",0-,"$162,453,046"
12,13,St. Louis Cardinals\nSTL,0.574,28,"$134,723,541","$8,750,000","$9,569,813","$8,786,550",0-,"$156,428,325"
13,14,Chicago Cubs\nCHC,0.457,28,"$83,228,504","$44,219,852","$20,225,459","$9,707,000",0-,"$151,054,737"
14,League Average,"150329375 $150,329,375",None,None,None,None,None,None,None,None
15,League Average,0.500,28,"$102,133,042","$24,717,988","$19,746,331","$10,037,187","$1,368,254","$150,329,375",None
16,15,Texas Rangers\nTEX,0.420,28,"$101,239,086","$13,330,822","$30,024,329","$9,940,000",0-,"$150,037,446"
17,16,Minnesota Twins\nMIN,0.481,25,"$70,308,186","$58,934,173","$18,666,930","$5,200,000",0-,"$149,030,158"
18,17,Colorado Rockies\nCOL,0.420,28,"$66,960,029","$64,172,808","$7,833,905","$3,520,000",0-,"$140,012,218"
19,18,Detroit Tigers\nDET,0.407,27,"$105,762,860","$13,017,207","$15,133,063","$7,575,000",0-,"$136,287,588"
20,19,Milwaukee Brewers\nMIL,0.531,28,"$93,743,089","$5,763,506","$26,548,013","$10,541,668",0-,"$130,769,325"
21,20,Washington Nationals\nWSH,0.340,28,"$58,988,509","$40,679,307","$25,629,924","$6,467,700",0-,"$126,809,535"
22,21,Seattle Mariners\nSEA,0.556,28,"$86,845,908","$9,896,644","$13,680,533","$10,921,600",0-,"$115,838,907"
23,22,Cincinnati Reds\nCIN,0.383,27,"$22,546,012","$61,230,258","$30,148,483","$6,302,500",0-,"$115,467,321"
24,23,Tampa Bay Rays\nTB,0.531,30,"$50,869,016","$33,372,433","$11,455,026","$8,193,400",0-,"$98,342,073"
25,24,Kansas City Royals\nKC,0.401,28,"$62,728,828","$6,413,200","$21,516,010","$9,404,000",0-,"$92,613,711"
26,25,Arizona Diamondbacks\nARI,0.457,28,"$53,176,803","$19,224,958","$9,533,407","$9,395,200",0-,"$85,964,090"
27,26,Miami Marlins\nMIA,0.426,28,"$49,341,980","$20,999,362","$10,674,607","$7,714,500",0-,"$82,954,422"
28,27,Cleveland Guardians\nCLE,0.568,28,"$56,507,878","$702,900","$4,619,812","$11,412,200",0-,"$66,477,492"
29,28,Pittsburgh Pirates\nPIT,0.383,28,"$30,472,503","$8,449,026","$13,072,838","$12,401,800",0-,"$56,184,032"
30,29,Oakland Athletics\nOAK,0.370,28,"$15,034,323","$6,642,582","$22,966,027","$10,600,000",0-,"$48,443,900"
31,30,Baltimore Orioles\nBAL,0.512,29,"$22,538,146","$5,709,974","$13,258,460","$10,540,500",0-,"$44,888,388"

In [8]:
clean_salary_table = salary_table.drop(columns=['Rank', 'Roster', '26-Man Payroll', 'Injured Reserve', 'Retained', 'Buried', 'Suspended'],
                  index=[14,15])

In [9]:
clean_salary_table

                          Team  Wins% 2022 Total Payroll
0     Los Angeles Dodgers\nLAD  0.685       $270,381,426
1           New York Mets\nNYM  0.623       $268,292,506
2        New York Yankees\nNYY  0.611       $252,957,200
3   Philadelphia Phillies\nPHI  0.537       $244,484,097
4         San Diego Padres\nSD  0.549       $224,511,694
5          Boston Red Sox\nBOS  0.481       $211,812,131
6       Chicago White Sox\nCHW  0.500       $203,205,326
7          Houston Astros\nHOU  0.654       $183,791,796
8          Atlanta Braves\nATL  0.623       $183,438,888
9      Los Angeles Angels\nLAA  0.451       $179,877,811
10      Toronto Blue Jays\nTOR  0.568       $177,071,670
11    San Francisco Giants\nSF  0.500       $162,453,046
12    St. Louis Cardinals\nSTL  0.574       $156,428,325
13           Chicago Cubs\nCHC  0.457       $151,054,737
16          Texas Rangers\nTEX  0.420       $150,037,446
17        Minnesota Twins\nMIN  0.481       $149,030,158
18       Colorado Rockies\nCOL  0.420       $140,012,218
19         Detroit Tigers\nDET  0.407       $136,287,588
20      Milwaukee Brewers\nMIL  0.531       $130,769,325
21   Washington Nationals\nWSH  0.340       $126,809,535
22       Seattle Mariners\nSEA  0.556       $115,838,907
23        Cincinnati Reds\nCIN  0.383       $115,467,321
24          Tampa Bay Rays\nTB  0.531        $98,342,073
25      Kansas City Royals\nKC  0.401        $92,613,711
26   Arizona Diamondbacks\nARI  0.457        $85,964,090
27          Miami Marlins\nMIA  0.426        $82,954,422
28    Cleveland Guardians\nCLE  0.568        $66,477,492
29     Pittsburgh Pirates\nPIT  0.383        $56,184,032
30      Oakland Athletics\nOAK  0.370        $48,443,900
31      Baltimore Orioles\nBAL  0.512        $44,888,388

In [10]:
clean_salary_table['Teams'] = [x.split('\n')[0] for x in clean_salary_table['Team']]

In [11]:
clean_salary_table

,Team,Wins%,2022 Total Payroll,Teams
0,Los Angeles Dodgers\nLAD,0.685,"$270,381,426",Los Angeles Dodgers
1,New York Mets\nNYM,0.623,"$268,292,506",New York Mets
2,New York Yankees\nNYY,0.611,"$252,957,200",New York Yankees
3,Philadelphia Phillies\nPHI,0.537,"$244,484,097",Philadelphia Phillies
4,San Diego Padres\nSD,0.549,"$224,511,694",San Diego Padres
5,Boston Red Sox\nBOS,0.481,"$211,812,131",Boston Red Sox
6,Chicago White Sox\nCHW,0.500,"$203,205,326",Chicago White Sox
7,Houston Astros\nHOU,0.654,"$183,791,796",Houston Astros
8,Atlanta Braves\nATL,0.623,"$183,438,888",Atlanta Braves
9,Los Angeles Angels\nLAA,0.451,"$179,877,811",Los Angeles Angels
10,Toronto Blue Jays\nTOR,0.568,"$177,071,670",Toronto Blue Jays
11,San Francisco Giants\nSF,0.500,"$162,453,046",San Francisco Giants
12,St. Louis Cardinals\nSTL,0.574,"$156,428,325",St. Louis Cardinals
13,Chicago Cubs\nCHC,0.457,"$151,054,737",Chicago Cubs
16,Texas Rangers\nTEX,0.420,"$150,037,446",Texas Rangers
17,Minnesota Twins\nMIN,0.481,"$149,030,158",Minnesota Twins
18,Colorado Rockies\nCOL,0.420,"$140,012,218",Colorado Rockies
19,Detroit Tigers\nDET,0.407,"$136,287,588",Detroit Tigers
20,Milwaukee Brewers\nMIL,0.531,"$130,769,325",Milwaukee Brewers
21,Washington Nationals\nWSH,0.340,"$126,809,535",Washington Nationals
22,Seattle Mariners\nSEA,0.556,"$115,838,907",Seattle Mariners
23,Cincinnati Reds\nCIN,0.383,"$115,467,321",Cincinnati Reds
24,Tampa Bay Rays\nTB,0.531,"$98,342,073",Tampa Bay Rays
25,Kansas City Royals\nKC,0.401,"$92,613,711",Kansas City Royals
26,Arizona Diamondbacks\nARI,0.457,"$85,964,090",Arizona Diamondbacks
27,Miami Marlins\nMIA,0.426,"$82,954,422",Miami Marlins
28,Cleveland Guardians\nCLE,0.568,"$66,477,492",Cleveland Guardians
29,Pittsburgh Pirates\nPIT,0.383,"$56,184,032",Pittsburgh Pirates
30,Oakland Athletics\nOAK,0.370,"$48,443,900",Oakland Athletics
31,Baltimore Orioles\nBAL,0.512,"$44,888,388",Baltimore Orioles

In [17]:
clean_salary_table.drop(columns=['Team'])

                    Teams  Wins% 2022 Total Payroll
0     Los Angeles Dodgers  0.685       $270,381,426
1           New York Mets  0.623       $268,292,506
2        New York Yankees  0.611       $252,957,200
3   Philadelphia Phillies  0.537       $244,484,097
4        San Diego Padres  0.549       $224,511,694
5          Boston Red Sox  0.481       $211,812,131
6       Chicago White Sox  0.500       $203,205,326
7          Houston Astros  0.654       $183,791,796
8          Atlanta Braves  0.623       $183,438,888
9      Los Angeles Angels  0.451       $179,877,811
10      Toronto Blue Jays  0.568       $177,071,670
11   San Francisco Giants  0.500       $162,453,046
12    St. Louis Cardinals  0.574       $156,428,325
13           Chicago Cubs  0.457       $151,054,737
16          Texas Rangers  0.420       $150,037,446
17        Minnesota Twins  0.481       $149,030,158
18       Colorado Rockies  0.420       $140,012,218
19         Detroit Tigers  0.407       $136,287,588
20      Milwaukee Brewers  0.531       $130,769,325
21   Washington Nationals  0.340       $126,809,535
22       Seattle Mariners  0.556       $115,838,907
23        Cincinnati Reds  0.383       $115,467,321
24         Tampa Bay Rays  0.531        $98,342,073
25     Kansas City Royals  0.401        $92,613,711
26   Arizona Diamondbacks  0.457        $85,964,090
27          Miami Marlins  0.426        $82,954,422
28    Cleveland Guardians  0.568        $66,477,492
29     Pittsburgh Pirates  0.383        $56,184,032
30      Oakland Athletics  0.370        $48,443,900
31      Baltimore Orioles  0.512        $44,888,388

In [19]:
clean_salary_table = clean_salary_table[['Teams', 'Wins%', '2022 Total Payroll']]
clean_salary_table

                    Teams  Wins% 2022 Total Payroll
0     Los Angeles Dodgers  0.685       $270,381,426
1           New York Mets  0.623       $268,292,506
2        New York Yankees  0.611       $252,957,200
3   Philadelphia Phillies  0.537       $244,484,097
4        San Diego Padres  0.549       $224,511,694
5          Boston Red Sox  0.481       $211,812,131
6       Chicago White Sox  0.500       $203,205,326
7          Houston Astros  0.654       $183,791,796
8          Atlanta Braves  0.623       $183,438,888
9      Los Angeles Angels  0.451       $179,877,811
10      Toronto Blue Jays  0.568       $177,071,670
11   San Francisco Giants  0.500       $162,453,046
12    St. Louis Cardinals  0.574       $156,428,325
13           Chicago Cubs  0.457       $151,054,737
16          Texas Rangers  0.420       $150,037,446
17        Minnesota Twins  0.481       $149,030,158
18       Colorado Rockies  0.420       $140,012,218
19         Detroit Tigers  0.407       $136,287,588
20      Milwaukee Brewers  0.531       $130,769,325
21   Washington Nationals  0.340       $126,809,535
22       Seattle Mariners  0.556       $115,838,907
23        Cincinnati Reds  0.383       $115,467,321
24         Tampa Bay Rays  0.531        $98,342,073
25     Kansas City Royals  0.401        $92,613,711
26   Arizona Diamondbacks  0.457        $85,964,090
27          Miami Marlins  0.426        $82,954,422
28    Cleveland Guardians  0.568        $66,477,492
29     Pittsburgh Pirates  0.383        $56,184,032
30      Oakland Athletics  0.370        $48,443,900
31      Baltimore Orioles  0.512        $44,888,388

In [20]:
# write the data to a CSV
clean_salary_table.to_csv('salary_table.csv')

In [21]:
#browser.quit()