In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_sal = 'salary_table.csv'
file_bat = 'team_batting.csv'
file_pitch = 'team_pitch.csv'

In [3]:
salary_df = pd.read_csv(file_sal, encoding="utf-8")
batting_df = pd.read_csv(file_bat, encoding="utf-8")
pitch_df = pd.read_csv(file_pitch, encoding="utf-8")

In [4]:
salary_df.head()

   Unnamed: 0                  Teams  Wins% 2022 Total Payroll
0           0    Los Angeles Dodgers  0.685       $270,381,426
1           1          New York Mets  0.623       $268,292,506
2           2       New York Yankees  0.611       $252,957,200
3           3  Philadelphia Phillies  0.537       $244,484,097
4           4       San Diego Padres  0.549       $224,511,694

In [5]:
salary_df = salary_df.drop(columns=['Unnamed: 0'])

In [6]:
batting_df.head()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,Arizona Diamondbacks,37,27.4,5.14,50,1909,1707,257,451,104,...,0.436,0.766,110,745,37,16,11,16,4,335
1,Atlanta Braves,36,27.9,5.12,49,1857,1656,251,421,88,...,0.456,0.787,111,755,45,21,0,8,6,321
2,Baltimore Orioles,33,27.2,5.18,49,1881,1659,254,420,87,...,0.427,0.757,110,709,40,13,9,16,5,329
3,Boston Red Sox,38,28.7,5.24,50,1907,1705,262,447,108,...,0.433,0.765,105,738,43,24,4,11,3,331
4,Chicago Cubs,36,28.7,4.81,48,1870,1652,231,432,79,...,0.429,0.768,111,709,29,16,2,13,4,369

In [7]:
batting_df = batting_df[['Tm', 'OPS','OBP']].drop(index=[30,31])

In [8]:
batting_df = batting_df.rename(columns={'Tm': 'Teams'})

In [9]:
batting_df

                    Teams    OPS    OBP
0    Arizona Diamondbacks  0.766  0.329
1          Atlanta Braves  0.787  0.331
2       Baltimore Orioles  0.757  0.330
3          Boston Red Sox  0.765  0.332
4            Chicago Cubs  0.768  0.339
5       Chicago White Sox  0.683  0.297
6         Cincinnati Reds  0.705  0.326
7     Cleveland Guardians  0.637  0.297
8        Colorado Rockies  0.708  0.314
9          Detroit Tigers  0.654  0.300
10         Houston Astros  0.696  0.315
11     Kansas City Royals  0.672  0.292
12     Los Angeles Angels  0.752  0.327
13    Los Angeles Dodgers  0.777  0.326
14          Miami Marlins  0.702  0.309
15      Milwaukee Brewers  0.705  0.311
16        Minnesota Twins  0.716  0.310
17          New York Mets  0.708  0.321
18       New York Yankees  0.733  0.310
19      Oakland Athletics  0.666  0.302
20  Philadelphia Phillies  0.738  0.322
21     Pittsburgh Pirates  0.717  0.323
22       San Diego Padres  0.699  0.314
23       Seattle Mariners  0.692  0.310
24   San Francisco Giants  0.725  0.316
25    St. Louis Cardinals  0.777  0.335
26         Tampa Bay Rays  0.848  0.346
27          Texas Rangers  0.790  0.339
28      Toronto Blue Jays  0.755  0.333
29   Washington Nationals  0.706  0.324

In [10]:
pitch_df.head()

,Tm,#P,PAge,RA/G,W,L,W-L%,ERA,G,GS,...,BF,ERA+,FIP,WHIP,H9,HR9,BB9,SO9,SO/W,LOB
0,Arizona Diamondbacks,33,30.0,4.57,74,88,0.457,4.25,162,162,...,6065,95,4.33,1.293,8.5,1.2,3.2,7.7,2.41,1051
1,Atlanta Braves,32,30.0,3.76,101,61,0.623,3.46,162,162,...,6031,121,3.46,1.191,7.6,0.9,3.1,9.7,3.11,1101
2,Baltimore Orioles,36,27.7,4.25,83,79,0.512,3.97,162,162,...,6058,100,4.03,1.290,8.8,1.1,2.8,7.6,2.74,1092
3,Boston Red Sox,33,30.2,4.86,78,84,0.481,4.53,162,162,...,6167,93,4.17,1.354,8.9,1.2,3.3,8.5,2.56,1109
4,Chicago Cubs,43,29.5,4.51,74,88,0.457,4.00,162,162,...,6162,102,4.33,1.304,8.4,1.3,3.4,8.6,2.56,1130

In [11]:
pitch_df = pitch_df[['Tm', 'WHIP','ERA']].drop(index=[30,31])

In [12]:
pitch_df = pitch_df.rename(columns={'Tm': 'Teams'})

In [13]:
stats_df = pd.merge(salary_df, batting_df, how='inner', on='Teams')

In [14]:
stats_df

                    Teams  Wins% 2022 Total Payroll    OPS    OBP
0     Los Angeles Dodgers  0.685       $270,381,426  0.777  0.326
1           New York Mets  0.623       $268,292,506  0.708  0.321
2        New York Yankees  0.611       $252,957,200  0.733  0.310
3   Philadelphia Phillies  0.537       $244,484,097  0.738  0.322
4        San Diego Padres  0.549       $224,511,694  0.699  0.314
5          Boston Red Sox  0.481       $211,812,131  0.765  0.332
6       Chicago White Sox  0.500       $203,205,326  0.683  0.297
7          Houston Astros  0.654       $183,791,796  0.696  0.315
8          Atlanta Braves  0.623       $183,438,888  0.787  0.331
9      Los Angeles Angels  0.451       $179,877,811  0.752  0.327
10      Toronto Blue Jays  0.568       $177,071,670  0.755  0.333
11   San Francisco Giants  0.500       $162,453,046  0.725  0.316
12    St. Louis Cardinals  0.574       $156,428,325  0.777  0.335
13           Chicago Cubs  0.457       $151,054,737  0.768  0.339
14          Texas Rangers  0.420       $150,037,446  0.790  0.339
15        Minnesota Twins  0.481       $149,030,158  0.716  0.310
16       Colorado Rockies  0.420       $140,012,218  0.708  0.314
17         Detroit Tigers  0.407       $136,287,588  0.654  0.300
18      Milwaukee Brewers  0.531       $130,769,325  0.705  0.311
19   Washington Nationals  0.340       $126,809,535  0.706  0.324
20       Seattle Mariners  0.556       $115,838,907  0.692  0.310
21        Cincinnati Reds  0.383       $115,467,321  0.705  0.326
22         Tampa Bay Rays  0.531        $98,342,073  0.848  0.346
23     Kansas City Royals  0.401        $92,613,711  0.672  0.292
24   Arizona Diamondbacks  0.457        $85,964,090  0.766  0.329
25          Miami Marlins  0.426        $82,954,422  0.702  0.309
26    Cleveland Guardians  0.568        $66,477,492  0.637  0.297
27     Pittsburgh Pirates  0.383        $56,184,032  0.717  0.323
28      Oakland Athletics  0.370        $48,443,900  0.666  0.302
29      Baltimore Orioles  0.512        $44,888,388  0.757  0.330

In [15]:
stats_df = pd.merge(stats_df, pitch_df, how='inner', on='Teams')

In [16]:
stats_df

                    Teams  Wins% 2022 Total Payroll    OPS    OBP   WHIP   ERA
0     Los Angeles Dodgers  0.685       $270,381,426  0.777  0.326  1.048  2.80
1           New York Mets  0.623       $268,292,506  0.708  0.321  1.183  3.57
2        New York Yankees  0.611       $252,957,200  0.733  0.310  1.117  3.30
3   Philadelphia Phillies  0.537       $244,484,097  0.738  0.322  1.255  3.97
4        San Diego Padres  0.549       $224,511,694  0.699  0.314  1.199  3.81
5          Boston Red Sox  0.481       $211,812,131  0.765  0.332  1.354  4.53
6       Chicago White Sox  0.500       $203,205,326  0.683  0.297  1.287  3.92
7          Houston Astros  0.654       $183,791,796  0.696  0.315  1.092  2.90
8          Atlanta Braves  0.623       $183,438,888  0.787  0.331  1.191  3.46
9      Los Angeles Angels  0.451       $179,877,811  0.752  0.327  1.241  3.77
10      Toronto Blue Jays  0.568       $177,071,670  0.755  0.333  1.235  3.87
11   San Francisco Giants  0.500       $162,453,046  0.725  0.316  1.283  3.85
12    St. Louis Cardinals  0.574       $156,428,325  0.777  0.335  1.270  3.79
13           Chicago Cubs  0.457       $151,054,737  0.768  0.339  1.304  4.00
14          Texas Rangers  0.420       $150,037,446  0.790  0.339  1.342  4.22
15        Minnesota Twins  0.481       $149,030,158  0.716  0.310  1.244  3.98
16       Colorado Rockies  0.420       $140,012,218  0.708  0.314  1.442  5.06
17         Detroit Tigers  0.407       $136,287,588  0.654  0.300  1.301  4.04
18      Milwaukee Brewers  0.531       $130,769,325  0.705  0.311  1.216  3.83
19   Washington Nationals  0.340       $126,809,535  0.706  0.324  1.436  5.00
20       Seattle Mariners  0.556       $115,838,907  0.692  0.310  1.191  3.59
21        Cincinnati Reds  0.383       $115,467,321  0.705  0.326  1.390  4.86
22         Tampa Bay Rays  0.531        $98,342,073  0.848  0.346  1.145  3.41
23     Kansas City Royals  0.401        $92,613,711  0.672  0.292  1.470  4.70
24   Arizona Diamondbacks  0.457        $85,964,090  0.766  0.329  1.293  4.25
25          Miami Marlins  0.426        $82,954,422  0.702  0.309  1.268  3.86
26    Cleveland Guardians  0.568        $66,477,492  0.637  0.297  1.159  3.46
27     Pittsburgh Pirates  0.383        $56,184,032  0.717  0.323  1.420  4.66
28      Oakland Athletics  0.370        $48,443,900  0.666  0.302  1.330  4.52
29      Baltimore Orioles  0.512        $44,888,388  0.757  0.330  1.290  3.97

In [17]:
new_row =  {'Teams':'Bootcampers', 'Wins%': 0.62, '2022 Total Payroll': '$72,617,000', 'OPS': 0.771, 'OBP': 0.334, 'WHIP': 1.113, 'ERA': 3.07}

In [18]:
stats_df.loc[len(stats_df)] = new_row

In [19]:
stats_df.tail()

                  Teams  Wins% 2022 Total Payroll    OPS    OBP   WHIP   ERA
26  Cleveland Guardians  0.568        $66,477,492  0.637  0.297  1.159  3.46
27   Pittsburgh Pirates  0.383        $56,184,032  0.717  0.323  1.420  4.66
28    Oakland Athletics  0.370        $48,443,900  0.666  0.302  1.330  4.52
29    Baltimore Orioles  0.512        $44,888,388  0.757  0.330  1.290  3.97
30          Bootcampers  0.620        $72,617,000  0.771  0.334  1.113  3.07

In [20]:
stats_df.to_csv('total_stats.csv')